@import './theme/main.css';
@import './theme/light.css';
@import './theme/dark.css';
@import './theme/glass.css';
@import './theme/lightglass.css';
@import './theme/icy.css';
@import './theme/zarna.css';