:root {
    --border-faint: color-mix(in oklab, var(--color-base-content) 5%, transparent);
    --border-subtle: color-mix(in oklab, var(--color-base-content) 10%, transparent);
    --border-content: var(--color-base-300);
    --border-strong: color-mix(in oklab, var(--color-base-content) 20%, transparent);
    --border-bold: color-mix(in oklab, var(--color-base-content) 50%, transparent);
}
