@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Thin */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Thin.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Thin.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Thin.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: thin;
}

/* ExtraLight */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: extralight;
}

/* Light */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Light.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Light.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Light.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: light;
}

/* Medium */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Medium.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Medium.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Medium.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: medium;
}

/* SemiBold */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-SemiBold.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-SemiBold.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: semibold;
}

/* Bold */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Bold.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Bold.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Bold.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: bold;
}

/* Black */
@font-face {
	font-family: "Vazir";
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Black.eot");
	src: url("./assets/fonts/vazir/Vazirmatn-FD-Black.eot?#iefix") format("embedded-opentype"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Black.woff2") format("woff2"),
		url("./assets/fonts/vazir/Vazirmatn-FD-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: black;
}

@font-face {
	font-family: balooTamma;
	src: url("./assets/fonts/BalooTamma/BalooTamma2-Bold.ttf");
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: balooTamma;
	src: url("./assets/fonts/BalooTamma/BalooTamma2-Medium.ttf");
	font-weight: 500;
	font-style: medium;
}

@font-face {
	font-family: balooTamma;
	src: url("./assets/fonts/BalooTamma/BalooTamma2-Regular.ttf");
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: balooTamma;
	src: url("./assets/fonts/BalooTamma/BalooTamma2-SemiBold.ttf");
	font-weight: 600;
	font-style: semibold;
}




@font-face {
	font-family: digiLalezarPlus;
	src: url("./assets/fonts/digiLaleh/DigiLalezarPlus.ttf");
	font-weight: 500;
	font-style: medium;
}

@font-face {
	font-family: "Behdad";
	src: url("./assets/fonts/behdad/Behdad-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: regular;
	unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
	font-family: "Samim";
	src: url("./assets/fonts/samim/Samim-WOL.woff2") format("woff2");
	font-weight: 400;
	font-style: regular;
}

@font-face {
	font-family: "Samim";
	src: url("./assets/fonts/samim/Samim-Bold-WOL.woff2") format("woff2");
	font-weight: 600;
	font-style: semibold;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	font-family: "Vazir", sans-serif;
	/* hex: */

	background: rgb(2, 0, 36);
	background: linear-gradient(194deg, rgb(2 0 26) 0%, rgb(10 10 103) 35%, rgb(124 0 255) 100%);

	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}



.custom-select-box hr {
	color: #333333;
}

::-webkit-scrollbar {
	width: 0.3em;
	background-color: rgba(240, 240, 240, 0.5);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(180, 180, 180, 0.7);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(150, 150, 150, 0.9);
}


[data-theme="dark"],
[data-theme="glass"] {
	::-webkit-scrollbar {
		background-color: rgba(29, 29, 29, 0.35);
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(41, 40, 40, 0.75);
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #1d1d1d;
	}
}



.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(5px);
}


@layer base {
	body {
		direction: rtl;
		font-family: Vazirmatn, sans-serif;
	}
}

.backdrop-blur-md {
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	/* Fallback for browsers that don't support backdrop-filter */
	background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-blur-lg {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	/* Fallback for browsers that don't support backdrop-filter */
	background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-bg {
	background-color: rgba(28, 28, 28, 0.8);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide the spinner in Firefox */
input[type=number] {
	-moz-appearance: textfield;
}




/* Add this to your CSS file */
.weather-forecast-slider {
	padding-bottom: 25px !important;
	/* Space for pagination bullets */
}

.weather-forecast-slider .swiper-slide {
	width: auto;
	max-width: 150px;
}

.weather-forecast-slider .swiper-pagination {
	bottom: 0;
}

.weather-forecast-slider .swiper-pagination-bullet {
	background-color: rgba(147, 197, 253, 0.7);
	/* blue-300 with opacity */
}

.weather-forecast-slider .swiper-pagination-bullet-active {
	background-color: rgb(96, 165, 250);
	/* blue-400 */
}