@import "tailwindcss";
@import "./styles/theme-colors.css";
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #536DFE;
	--color-secondary: #7C8DF0;
	--color-error: #e7000b;
}

@plugin "daisyui/theme" {
	name: "dark";
	--color-base-100: #171717;
	--color-base-200: #1a1a1a;
	--color-base-300: #232323;
	--color-base-content: #f9fafb;
	--color-primary: #6366f1;
	--color-primary-focus: #4f46e5;
	--color-primary-content: #ffffff;
	--color-secondary: #8b5cf6;
	--color-secondary-focus: #7c3aed;
	--color-secondary-content: #ffffff;
	--color-accent: #f59e0b;
	--color-accent-focus: #d97706;
	--color-accent-content: #ffffff;
	--color-error: #f87171;
	--color-success: #34d399;
	--color-warning: #fbbf24;
	--color-info: #60a5fa;
}

/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

html {
	font-size: 16px;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	font-family: "Vazir", sans-serif;
	/* hex: */

	height: 100vh;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.custom-select-box hr {
	color: #333333;
}

@layer base {
	body {
		direction: rtl;
		font-family: Vazirmatn, sans-serif;
	}
}

.bg-content {
	@apply bg-base-200;
}

.text-content {
	@apply text-base-content;
}

.text-muted {
	@apply text-base-content opacity-70;
}

.border-content {
	@apply border-base-300;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide the spinner in Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Custom styling for color inputs */
input[type=color] {
	-webkit-appearance: none;
	border: none;
	padding: 0;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	cursor: pointer;
	background: transparent;
}

input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 4px;
	overflow: hidden;
}

input[type=color]::-webkit-color-swatch {
	border: none;
	border-radius: 4px;
}

input[type=color]::-moz-color-swatch {
	border: none;
	border-radius: 4px;
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox and other browsers */
.hide-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Add this to your CSS file */
.weather-forecast-slider {
	padding-bottom: 25px !important;
	/* Space for pagination bullets */
}

.weather-forecast-slider .swiper-slide {
	width: auto;
	max-width: 150px;
}

.weather-forecast-slider .swiper-pagination {
	bottom: 0;
}