@plugin "daisyui/theme" {
	name: "esteghlal";
	color-scheme: "dark";
	--color-base-100: #162455;
	--color-base-200: #1c3478;
	--color-base-300: #203e97;
	--color-base-content: #e7effc;
	--color-primary: #3287ff;
	--color-primary-content: #ffffff;
	--color-secondary: #60b2ff;
	--color-secondary-content: #07113a;
	--color-accent: #47d2e8;
	--color-accent-content: #07113a;
	--color-neutral: #0a1331;
	--color-neutral-content: #d8deec;
	--color-info: #2da6fa;
	--color-info-content: #00182b;
	--color-success: #40cc6d;
	--color-success-content: #002100;
	--color-warning: #f1bd00;
	--color-warning-content: #271000;
	--color-error: #f94144;
	--color-error-content: #ffffff;
	--color-base-content-rgb: 231 239 252;
	--color-base-content-a: 1;
	--color-primary-rgb: 50 135 255;
	--color-primary-a: 1;
	--color-error-rgb: 249 65 68;
	--color-error-a: 1;
	--color-success-rgb: 64 204 109;
	--color-success-a: 1;
	--color-warning-rgb: 241 189 0;
	--color-warning-a: 1;
	--color-info-rgb: 45 166 250;
	--color-info-a: 1;
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
