@plugin "daisyui/theme" {
    name: "esteghlal";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(28% 0.091 267.935);
    --color-base-200: oklch(35% 0.12 265.522);
    --color-base-300: oklch(40% 0.15 265.638);
    --color-base-content: oklch(95% 0.02 260);
    --color-primary: oklch(65% 0.22 260);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(75% 0.15 251.813);
    --color-secondary-content: oklch(20% 0.08 267.935);
    --color-accent: oklch(80% 0.12 210);
    --color-accent-content: oklch(20% 0.08 267.935);
    --color-neutral: oklch(20% 0.06 267.935);
    --color-neutral-content: oklch(90% 0.02 267.935);
    --color-info: oklch(70% 0.16 245);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(75% 0.18 150);
    --color-success-content: oklch(20% 0.1 150);
    --color-warning: oklch(82% 0.18 90);
    --color-warning-content: oklch(20% 0.1 90);
    --color-error: oklch(65% 0.22 25);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}