@plugin "daisyui/theme" {
    name: "esteghlal";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(28% 0.091 267.935);
    --color-base-200: oklch(37% 0.146 265.522);
    --color-base-300: oklch(42% 0.199 265.638);
    --color-base-content: oklch(93% 0.032 255.585);
    --color-primary: oklch(68% 0.169 237.323);
    --color-primary-content: oklch(27% 0.072 132.109);
    --color-secondary: oklch(80% 0.105 251.813);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(83% 0.145 321.434);
    --color-accent-content: oklch(29% 0.136 325.661);
    --color-neutral: oklch(54% 0.245 262.881);
    --color-neutral-content: oklch(97% 0.014 254.604);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 0rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}