@plugin "daisyui/theme" {
    name: "glass";
    --color-base-100: #171717b3;
    --color-base-200: rgba(23, 23, 23, 0.1);
    --color-base-300: rgba(255, 255, 255, 0.05);
    --color-base-content: rgba(255, 255, 255, 0.95);
    --color-primary: rgba(var(--brand-primary-rgb), 0.9);
    --color-primary-focus: rgba(var(--brand-primary-rgb), 1);
    --color-primary-content: rgba(var(--brand-primary-rgb), 0.9);
    --color-secondary: rgba(var(--brand-secondary-rgb), 0.8);
    --color-secondary-focus: rgba(var(--brand-secondary-rgb), 0.9);
    --color-secondary-content: rgba(255, 255, 255, 1);
    --color-accent: rgba(34, 197, 94, 0.8);
    --color-accent-focus: rgba(22, 163, 74, 0.9);
    --color-accent-content: rgba(255, 255, 255, 1);
    --color-error: rgba(239, 68, 68, 0.8);
    --color-success: rgba(34, 197, 94, 0.8);
    --color-warning: rgba(245, 158, 11, 0.8);
    --color-warning-content: #271b06;
    --color-info: rgba(59, 130, 246, 0.8);
    --glass: true;
    --glass-opacity: 25%;
    --glass-border-opacity: 15%;
    --glass-reflex-degree: 120%;
    --glass-reflex-opacity: 8%;
    --glass-blur: 32px;
}




[data-theme="glass"] .menu,
[data-theme="glass"] .navbar,
[data-theme="glass"] .modal-box,
[data-theme="glass"] .drawer-side,
[data-theme="glass"] .collapse {
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
}

[data-theme="glass"] .search-box {
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    backdrop-filter: blur(10px) saturate(180%);
}

[data-theme="glass"] .widget-wrapper,
[data-theme="glass"] .bg-glass,
[data-theme="glass"] .tooltip {
    background-color: #171717b3;
    -webkit-backdrop-filter: blur(16px) saturate(150%);
    backdrop-filter: blur(16px) saturate(150%);
}

[data-theme="glass"] .modal-box {
    -webkit-backdrop-filter: blur(40px) saturate(200%);
    backdrop-filter: blur(40px) saturate(200%);
    background-color: #171717b3;
}


[data-theme="glass"] select:open {
    background-color: #171717b3;
}