@plugin "daisyui/theme" {
	name: "glass";
	color-scheme: "dark";
	--color-base-100: #171717b3;
	--color-base-200: #1717171a;
	--color-base-300: #ffffff0d;
	--color-base-content: #fffffff2;
	--color-primary: rgba(var(--brand-primary-rgb), 0.9);
	--color-primary-content: #fff;
	--color-secondary: rgba(var(--brand-secondary-rgb), 0.8);
	--color-secondary-content: #fff;
	--color-accent: #22c55ecc;
	--color-accent-content: #fff;
	--color-neutral: #09090b;
	--color-neutral-content: #e4e4e7;
	--color-info: #3b82f6cc;
	--color-info-content: #042e49;
	--color-success: #22c55ecc;
	--color-success-content: #004c39;
	--color-warning: #f59e0bcc;
	--color-warning-content: #271b06;
	--color-error: #ef4444cc;
	--color-error-content: #4d0218;
	--glass: true;
	--glass-opacity: 25%;
	--glass-border-opacity: 15%;
	--glass-reflex-degree: 120%;
	--glass-reflex-opacity: 8%;
	--glass-blur: 32px;
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

[data-theme="glass"] .menu,
[data-theme="glass"] .navbar,
[data-theme="glass"] .modal-box,
[data-theme="glass"] .drawer-side,
[data-theme="glass"] .collapse {
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	backdrop-filter: blur(16px) saturate(180%);
}

[data-theme="glass"] .search-box {
	-webkit-backdrop-filter: blur(10px) saturate(180%);
	backdrop-filter: blur(10px) saturate(180%);
}

[data-theme="glass"] .widget-wrapper,
[data-theme="glass"] .bg-glass,
[data-theme="glass"] .tooltip {
	background-color: #171717b3;
	-webkit-backdrop-filter: blur(16px) saturate(150%);
	backdrop-filter: blur(16px) saturate(150%);
}

[data-theme="glass"] .widget-outer {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
}

[data-theme="glass"] .modal-box {
	-webkit-backdrop-filter: blur(200px) saturate(200%);
	backdrop-filter: blur(40px) saturate(10%);
	background-color: #171717b3;
}

[data-theme="glass"] .portal {
	background-color: #171717fa;
}

[data-theme="glass"] select:open {
	background-color: #171717b3;
}
