@plugin "daisyui/theme" {
	name: "light";
	color-scheme: "light";
	--color-base-100: #fff;
	--color-base-200: #f8fafc;
	--color-base-300: #f1f5f9;
	--color-base-content: #464647;
	--color-primary: var(--brand-primary);
	--color-primary-content: #fff;
	--color-secondary: var(--brand-secondary);
	--color-secondary-content: #171717;
	--color-accent: #00d3bb;
	--color-accent-content: #084d49;
	--color-neutral: #09090b;
	--color-neutral-content: #e4e4e7;
	--color-info: #00bafe;
	--color-info-content: #042e49;
	--color-success: #00d390;
	--color-success-content: #004c39;
	--color-warning: #fcb700;
	--color-warning-content: #793205;
	--color-error: #ff627d;
	--color-error-content: #4d0218;
	--color-base-content-rgb: 70, 70, 71;
	--color-primary-rgb: 83, 109, 254;
	--color-secondary-rgb: 124, 141, 240;
	--color-error-rgb: 255, 98, 125;
	--color-success-rgb: 0, 211, 144;
	--color-warning-rgb: 252, 183, 0;
	--color-info-rgb: 0, 186, 254;
	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
