:root {
	--brand-primary: #536dfe;
	--brand-primary-rgb: 83, 109, 254;
	--brand-secondary: #7c8df0;
	--brand-secondary-rgb: 124, 141, 240;
	--color-vip-rgb: 99 102 241;
	--color-vip-a: 1;
}

[data-theme="light"] {
	.nav-btn {
		color: var(--text-secondary);
	}

	.nav-btn:hover {
		color: var(--text-primary);
	}
}

[data-theme="icy"] {
	.text-icy {
		@apply text-white/70;
	}
}
