@plugin "daisyui/theme" {
	name: "zarna";
	color-scheme: "dark";
	--color-base-100: #09090b;
	--color-base-200: #171618;
	--color-base-300: #1e1d1f;
	--color-base-content: #dca54d;
	--color-primary: #d08700;
	--color-primary-content: #281700;
	--color-secondary: #152747;
	--color-secondary-content: #cbd0d7;
	--color-accent: #513448;
	--color-accent-content: #dad3d7;
	--color-neutral: #331800;
	--color-neutral-content: #ffe7a4;
	--color-info: #67c6ff;
	--color-info-content: #040e16;
	--color-success: #87d03a;
	--color-success-content: #061001;
	--color-warning: #e2d563;
	--color-warning-content: #121003;
	--color-error: #ff6f6f;
	--color-error-content: #160404;
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
